.wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 46rem;
    margin: 4rem auto 1.5rem;
}

.tasks,
.completed {
    display: flex;
    font-weight: bold;
}

.tasks {
    color: var(--blue);
}

.completed {
    color: var(--purple);
}

.tasks span,
.completed span {
    background: var(--gray-400);
    border-radius: 20px;
    padding: 0 10px;
    height: 24px;
    display: inline-block;
    justify-content: center;
    margin-left: 0.5rem;
    color: var(--white);
}

.container {
    max-width: 46rem;
    min-height: 40vh;
    margin: auto ;
}